<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="row no-margin">
        <div class="container">
            <div class="row no-margin">
                <div class="col s12 breadcrumb-wrapper">
                    <div class=""></div>
                    <a href="./viewProjectsWindow.html" class="breadcrumb">Projects</a>
                    <a href="" class="breadcrumb" id="project-breadcumb">amac</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-margin project-details-wrapper">
        <div class="container">
            <h3 class="row details" id="project-name">
                AMAC
            </h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#test1">Specification</a></li>
                    <li class="tab col s3"><a href="#test2">Tasks</a></li>
                </ul>
            </div>
            <div id="test1" class="col s12 project-specification-wrapper">
                <h5 class="project-specification-category">Project Identity :
                    <button class="btn-floating btn-small waves-effect waves-light teal right" id="project-edit-btn">
                        <i class="material-icons">edit</i>
                    </button>
                </h5>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">CID :</h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-content" id="project-cid"></h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Status :</h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-content" id="project-phase"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">JID :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-jid"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Client Pickup :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-client-pickup"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Redmine Jef :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-redmine-jef"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Live Date :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-live-date"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Description :</h6>
                    </div>
                    <div class="col s9">
                        <p class="project-specification-content" id="project-description"></p>
                    </div>
                </div>
                <!--##########   PROJECT FEATURES  ##########-->
                <h5 class="project-specification-category">Project Features : </h5>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Preprocessed :</h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-content" id="project-preprocessed"></h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Check List :</h6>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-content" id="project-checklist"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Input Data File Pattern :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-input-data-file-pattern"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Check Image :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-checkimage"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Working Data File Pattern :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-working-data-file-pattern"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Transaction :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-transaction"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Message Manager :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-message-manager"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Message Manager Text :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-message-manager-text"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Message Manager Type :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-message-manager-type"></p>
                    </div>
                    <div class="col s3">
                        <h6 class="project-specification-title">Message Manager Image :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-message-manager-image"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Message Manager Total :</h6>
                    </div>
                    <div class="col s3">
                        <p class="project-specification-content" id="project-message-manager-total-content"></p>
                    </div>
                </div>
                <!--##########   PROJECT DEADLINES  ##########-->
                <h5 class="project-specification-category">Project Deadlines : </h5>
                <div class="row" id="project-specification-deadlines-container">

                </div>
                <!--##########   PROJECT ENROLLED USERS  ##########-->
                <h5 class="project-specification-category">Project Enrolled Users : </h5>
                <div class="row" id="project-specification-enrolled-users-container">

                </div>
                <!-- <div class="row">
                    <div class="col s3">
                        <h6 class="project-specification-title">Description :</h6>
                    </div>
                    <div class="col s9">
                        <p class="project-specification-content" id="project-description"></p>
                    </div>
                </div> -->
            </div>
            <div id="test2" class="col s12">Test 2</div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./js/showProjects.js"></script>

    <script>
        console.log("test");
        M.AutoInit();
    </script>
</body>

</html>